rats.log rats.sum xtc.log xtc.sum source-list.txt
*~
allTests.out
*.desugared.bc
*.Log
*.o
*.pyc
*.plist
/fonda/cpp_testsuite/desugarer/masterTypeCheck/binary
/fonda/cpp_testsuite/desugarer/masterTypeCheck/unary
/fonda/cpp_testsuite/desugarer/masterTypeCheck/other
*.desugared.c
*.desugaredCondHeader.c